node_modules/
package-lock.json
config.js
*.log

build/
dist/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.cache/
.cache/*.json

.env.development
.env.test

_README.md
