node_modules/
package-lock.json
config.js
*.log

build/


### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

dist/bundle.js

.cache/
.cache/*.json

.env.development
.env.test
.env

_README.md
# knexfile.js
