
/* DESTINATIONS PAGE  */
.visited-destinations, .fave-destinations {
  display: inline-block;
  vertical-align: top;
  border: 1px solid black;
  border-radius: 5%;
  margin: 1%;
  padding: 1%;
}

/* LOCATION PROFILE PAGE */
.location-info {
  margin-top: 2%;
}

/* ATTRACTIONS PAGE */

/* PHOTOS & VIDEOS PAGE */

/* BLOGS PAGE */
